/**
 * B
 */
b{
  @extend strong;
}
/**
 * Delete
 */
del{

}
/**
 * Emphasis
 */
em{
  font-style: italic;
}
/**
 * Figcaption
 */
figcaption{

}
/**
 * Figure
 */
figure{

}
/**
 * hr
 */
hr {
  height: 1px;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: rhythm(1) 0;
}
/**
 * Italic
 */
i{
  @extend em;
}
/**
 * Quote
 */
q{

}
/**
 * Strikethrough
 */
s{

}
/**
 * Small
 */
small{

}
/**
 * Strong
 */
strong{
  font-weight: bold;
}
/**
 * Subscript
 */
sub{

}
/**
 * Superscript
 */
sup{

}
/**
 * Underline
 */
u{

}
/**
 * Messages
 */
.messages{
  /**
   * Status message
   */
  &.status{

  }
  /**
   * Warning message
   */
  &.warning{

  }
  /**
   * Error message
   */
  &.error{

  }
}


