///
// Design Partials
//
// Be organized, and it will help you in the future. We, here at Bare, do not
// feel that one organization type can be applied to all partials in the design file.
//
// For that reason, it is up to you to find an organization of the partials that
// makes sense for you, your company, and the future of the site.
//
// Design is beautiful, so is a well organized partial structure.
//
// Import design partials here.
////
