// scss-lint:disable EmptyRule

// b
b {
  @extend %strong;
}

// Delete
del {

}

// Emphasis

%em,
em {
  font-style: italic;
}

// Figcaption
figcaption {

}

// Figure
figure {

}

// hr
hr {
  // scss-lint:disable ColorVariable
  border: 1px solid #666;
  height: 1px;
  margin: rhythm(1) 0;
  padding-bottom: -1px;
}

// Italic
i {
  @extend %em;
}

// Quote
q {

}

// Strikethrough
s {

}

// Small
small {

}

// Strong
%strong,
strong {
  font-weight: bold;
}

// Subscript
sub {

}

// Superscript
sup {

}

// Underline
u {

}

// Message
.messages {
  // Status message
  &.status {
    //
  }

  // Warning message
  &.warning {
    //
  }

  // Error message
  &.error {
    //
  }
}
